package components

import "github.com/JDinABox/quiz-me/web/templates/components/icons"

templ Footer() {
	<footer class="mt-6 mb-5 flex flex-col items-center space-y-1.5">
		<div class="flex items-center space-x-1.5">
			<a class="flex items-center" href="https://github.com/JDinABox/quiz-me" target="_blank" rel="noreferrer">
				<div class="mr-1.5 h-5 w-5">
					@icons.Github()
				</div>
				<div>Github</div>
			</a>
		</div>
	</footer>
}
